<p id="notice"><%= notice %></p>

<p>
  <strong>Name:</strong>
  <%= @tour.name %>
</p>

<p>
  <strong>Driver name:</strong>
  <%= @tour.driver_name %>
</p>

<p>
  <strong>City:</strong>
  <%= @tour.city %>
</p>

<%= link_to 'Edit', edit_tour_path(@tour) %> |
<%= link_to 'Back', tours_path %>
